<section class="about" id="about">
  <span class="ball ball--big" aria-hidden="true"></span>
  <span class="ball ball--small" aria-hidden="true"></span>
  <div class="about__top">
    <div class="about__main">
      <h2 class="about__title">
        <span>{{ 'about.title1' | translate }}</span>
        <span>{{ 'about.title2' | translate }}</span>
      </h2>

      <div class="about__availability">
        <p class="about__iam">{{ 'about.iam' | translate }}</p>
        <ul class="avail">
          <li>
            <span class="avail__icon">
              <img class="avail__icon-default" src="assets/icons/icon-location.svg" alt="" />
              <img class="avail__icon-hover" src="assets/icons/location-hover.svg" alt="" />
            </span>
            <span>{{ 'about.loc1' | translate }}<br />{{ 'about.loc2' | translate }}</span>
          </li>
          <li>
            <span class="avail__icon">
              <img class="avail__icon-default" src="assets/icons/icon-remote.svg" alt="" />
              <img class="avail__icon-hover" src="assets/icons/remote-hover.svg" alt="" />
            </span>
            <span>{{ 'about.rem1' | translate }}<br />{{ 'about.rem2' | translate }}</span>
          </li>
          <li>
            <span class="avail__icon">
              <img class="avail__icon-tilt" src="assets/icons/icon-relocate.svg" alt="" />
            </span>
            <span>{{ 'about.rel1' | translate }}<br />{{ 'about.rel2' | translate }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="about__intro">
      <p>{{ 'about.intro' | translate }}</p>
      <a routerLink="/" fragment="contact" class="btn">{{ 'about.send' | translate }}</a>
    </div>
  </div>
</section>